# Perfil de PRODUCCION
# Activar con: SPRING_PROFILES_ACTIVE=prod

server:
  port: 8080

logging:
  level:
    com.delivera: INFO
    org.springframework.web: WARN

spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 86400
